
@import "@fontsource/bai-jamjuree/index.css";
@import "@fontsource/bai-jamjuree/700.css";

@mixin container {
  max-width: 1628px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin font-size-15{
  font-size: 15px;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$violaScuro: #1f1e38;
$white: #ffffff;
$verdeAcqua: #39ffbf;
$rosso:#f81d39;